<tbody><tr><td><div style="overflow: hidden;"><font size="-1"><div dir="ltr"><div <br><br><div dir="ltr"><div class="gmail_quote"><br><table cellspacing="0" cellpadding="1" border="0" align="center" width="500">
    <tbody><tr>
    <td>
    <table cellspacing="0" cellpadding="5" border="0" width="100%">
    <tbody><tr valign="top">
    <td align="center">
    <p>
    </p>
    <p><b><br></b></p><p>
    <b></b></p><div><b><img src="https://weather.allmeteo.com/static/img/static1.squarespace.png" height="54" width="200"><br></b></div><b>Account Activation</b>
    <p></p>
    <p>Please activate your new user account by clicking the link bellow:</p>
    <p><a href="{{link}}">to Account Activation</a></p>
    <table cellspacing="0" cellpadding="4" border="0" width="100%">
    <tbody><tr>
    <td colspan="2"> <b>Account Information:</b></td>
    </tr>
    <tr>
    <td nowrap="">
    <table cellspacing="0" cellpadding="1" border="0" width="100%">
    <tbody><tr>
    <td nowrap=""> <b>Login:</b>
    </td>
    <td width="98%"> {{email}} </td>
    </tr>
    <tr>
    <td nowrap=""> <b>Username:  </b>
    </td>
    <td width="98%"> {{username}}</td>
    </tr>
    </tbody></table>
    </td>
    </tr>
    </tbody></table>
    <p>
    <b>Important</b>: If you do not activate your account you won't
    be able to login.
    </p>
    <p>
    Please note: If you didn't sign up for a user-account with this
    email-address, please ignore this message or contact&nbsp;<a href="mailto:info@allmeteo.com" target="_blank">customer support</a> if you susspect your email or personal information has been compromised. The account will be deleted automatically in 24hrs if no action is taken to activate the account.
    </p>
    <p>Please note: This message was sent automatically from a notification-only
    <span style="font-size:small;background-color:rgb(255,255,255);text-decoration-style:initial;text-decoration-color:initial;float:none;display:inline">e-mail<span>&nbsp;</span></span>
    address which cannot accept incoming e-mail.&nbsp;</p><p>Please do not reply to this message.</p><p>We value you as a customer.</p>
    <p><b><a href="https://www.baranidesign.com" target="_blank">BARANI DESIGN Technologies</a> &amp;</b><b>&nbsp;</b><b><a href="https://www.allmeteo.com/" target="_blank">allMETEO</a></b></p>
    </td>
    </tr>
    </tbody></table>
    </td>
    </tr>
    </tbody></table>
    </div><br></div>
    </div><br></div>
    </font>
</div></td></tr></tbody>
